html {
    font-smooth: never;
    -webkit-font-smoothing : none;
    font-size: 16px;

    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'MS Gothic';
    src: url('MS-Gothic.eot');
    src: local('MS Gothic'), local('MS-Gothic'),
        url('MS-Gothic.eot?#iefix') format('embedded-opentype'),
        url('MS-Gothic.woff2') format('woff2'),
        url('MS-Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #FFFFFF;

    font-family: 'ms gothic', monospace;
    text-align: justify;
    font-size: 1em;
    line-height: 1.5;
}

main {
    width: 40%;
    margin: 0 auto;
}

::selection {
    background-color: #0000CC;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: #FFFFFF;
}

.portfolio img {
    width: 100%;
    padding: 0;
    margin: 0;
}

div.gallery {
    padding-top: 16px;
}

.gallery {
    margin: 0;
    padding: 0;
}

.gallery li a {
    padding: 0;
}

.gallery li a:hover {
    background-color: transparent;
    box-shadow: none;
}

.blurb a:hover {
    background-color: #0000CC;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    float: left;
    display: block;
    padding-bottom: 32px;
}

li a:hover {
    background-color: #0000CC;
    box-shadow: 0 0 8px #0000AA;
    mix-blend-mode: screen;
}

li a {
    text-decoration: none;
    padding: 16px;
}

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 40%;
    margin: 0 auto;
}

.cursor-blink {
    color: #FFFFFF;
    opacity: 0;

    animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

div.introduction p {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    
    padding: 16px;
    padding-bottom: 4px:
}

.banner {
    width: 40%;
    margin: 0 auto;
}

nav {
    padding-bottom: 40px;
}

div.blurb {
    padding-bottom: 4px;
}

div.spacer {
    padding-bottom: 144px;
}

h2 {
    position: relative;
    top: -0.2em;
    color: #000000;

    padding: 0px 0px 16px 0px;
}

.header-block {
    height: 0.95em;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}
