div.folder-link {
    position: relative;
    padding: 16px 16px 0px 0px;
    float: left;

    width: 200;
    height: 120;
    background: url("img/folder_white_sq.png") no-repeat;

    color: #000000;
}

div.folder-link:hover {
    background: url("img/folder_blue_sq.png") no-repeat;
    color: #FFFFFF;
}

.selector {
    padding-top: 16px;
}

.folder-link h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    position: absolute;
    bottom: 32px;
    left: 16px;
}

.folder-link img {
    width: 200;
    height: 120;
}

